{% extends 'base.html' %} {% block content %}
<div class="container-field">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Upload a CSV or Excel file</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="file">File:</label>
                            <input type="file" name="file" id="file">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block messages %} 
        {% if messages %}
            <div style="color: firebrick; margin-top: 20px;">
            {% for message in messages %} 
                {{message}} 
            {% endfor %} 
            </div>
        {% endif %} 
    {% endblock messages %}
</div>
{% endblock content %}